@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Researcher';
    src: url('/fonts/Researcher.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}