<div class="mockup-code">
    <pre data-prefix="1"><code>#!/usr/bin/env meme</code></pre> 
    <pre data-prefix="2"><code>FOSC was a hackerspace located at Universidad Politécnica de Cartagena</code></pre> 
    <pre data-prefix="3">A student association focused on expanding free software and hacker culture<code></code></pre>
    <pre data-prefix="4"><code>The space is no longer active but ideas don't need spaces</code></pre> 
    <pre data-prefix="5"><code>Our spirit lives on during hackathons, conventions and more</code></pre> 
    <pre data-prefix="6"><code>Expect us</code></pre> 
</div>