<div class="mockup-code">
    <pre data-prefix="1"><code>#!/usr/bin/zsh >;3</code></pre> 
    <pre data-prefix="2"><code>I'm a AWS Solution Architect, SysOps and Cloud Developer certified, but I am currently working as a CTO, developing my team leadership skills.</code></pre> 
    <pre data-prefix="3">I am passionate about Linux and Arch. I really enjoy helping people get into the world of Linux.<code></code></pre>
    <pre data-prefix="4"><code>I'm also working on my next novel, although that will take longer...</code></pre> 
    <pre data-prefix="5"><code>In the future, when I have more time, I will be attending hackathons, so you may see me at one of them. Coming soon!</code></pre> 
    <pre data-prefix="6"><code>Expect me!</code></pre> 
</div>