---
import { Image } from "astro:assets";

import nn1 from "../assets/gallery/nn1.jpg";
---

<div class="columns-3xs gap-4">
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={nn1} alt="Giving an open firmware talk at Navaja Negra 2019" />
</div>
