---
import { Image } from "astro:assets";

import NavItem from "./NavItem.astro";

import foscLogo from "../assets/img/fosc-logo-new.png";
---

<div
  class="navbar bg-base-100 backdrop-blur backdrop-brightness-50 drop-shadow-lg"
>
  <div class="navbar-start">
    <!-- <Image class="h-24 w-auto" src={foscLogo} alt="FOSC Logo"/> -->
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          href="/"
          class="align-bottom text-bold normal-case text-xl font-['Researcher']">FOSC</a>
      </li>
    </ul>
  </div>

  <div class="navbar-center">
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <NavItem href="https://cloud.fosc.space" title="Cloud" />
        <NavItem href="https://gallery.fosc.space" title="Gallery" />
        <NavItem href="https://download.fosc.space" title="Downloads" />
        <NavItem href="/blog" title="Blog" />
      </ul>
    </div>
  </div>

  <div class="navbar-end">
    <select class="select select-ghost" aria-label="Colorscheme picker" data-choose-theme>
      <option value="">Default</option>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
      <option value="cyberpunk">Cyberpunk</option>
      <option value="black">Black</option>
      <option value="retro">Retro</option>
      <option value="synthwave">Synthwave</option>
    </select>
  </div>
</div>
